.login-container {
  width: 100%;
  background: linear-gradient(135deg, #000, #333);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
  
}
.login-page {
  min-height: 100vh;
  width: 100%;
}
.login-card {
  background: #fff;
  width: 100%;
  max-width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
 
}

.login-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.login-subtitle {
  text-align: center;
  color: #666;
  margin-top: 5px;
}

.login-form {
  margin-top: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-group input:focus {
  outline: none;
  border-color: #000;
}

.forgot {
  text-align: right;
  margin-bottom: 15px;
}

.forgot a {
  font-size: 13px;
  color: #555;
  text-decoration: none;
}

.forgot a:hover {
  color: #000;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #333;
}

.signup-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signup-text a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/* Popup */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #16a34a;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
